<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form with Inputs</title>
<link rel="stylesheet" href="/css/addWorkbookData.css">
</head>
<body>
  <form method="POST" action="/addWorkbookData">
    <h1>Form</h1>
      <div class="form-group">
      <label for="data">Data</label>
      <input type="hidden" value="<%= dropdowns[0]._id %>" name="data_dd_id">
        <select name="<%= dropdowns[0].name %>">
            <option value="">Select...</option>
              <% for (const value of dropdowns[0].values) { %>
                <option value="<%= value %>" name="<%= value %>"><%= value %></option>
              <% } %>
        </select>
      </div>

      <%- include('../include/addData') %>
  </form>
</body>
</html>
