<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form with Inputs</title>
<link rel="stylesheet" href="/css/addWorkbookData.css">
</head>
<body>
  <form method="POST" action="/EditLeadItem">
    <h1>Edit Lead Form</h1>
      <input type="hidden" value="<%= dropdowns[0]._id %>" name="data_dd_id">
      <div class="form-group">
        <label for="source">Source</label>
        <input type="hidden" value="<%= dropdowns[1]._id %>" name="source_dd_id">
    
          <select name="<%= dropdowns[1].name %>">
              <option value="<%= leadData.source.value %>"><%= leadData.source.value %></option>
                <% for (const value of dropdowns[1].values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
    
      <div class="form-group">
        <label for="cm_firstname">CM First Name</label>
          <input type="text" name="cmFirstName" value="<%= leadData.CM_First_Name %>"></input>
      </div>
    
      <div class="form-group">
        <label for="cm_lastname">CM Last Name</label>
          <input type="text" name="cmLastName" value="<%= leadData.CM_Last_Name %>"></input>
      </div>
    
      <div class="form-group">
        <label for="cm_phone">CM Phone</label>
          <input type="number" name="cmphone" value="<%= leadData.CM_Phone %>"></input>
      </div>
    
      <div class="form-group">
        <label for="cm_altername_number">CM Alternate Number</label>
          <input type="number" name="cmPhoneAlternateNumber" value="<%= leadData.alternative_Number %>"></input>
      </div>
    
      <div class="form-group">
        <label for="source">Agent Name:</label>
        <input type="hidden" value="<%= dropdowns[2]._id %>" name="agent_dd_id">
          <select name="<%= dropdowns[2].name %>">
              <option value="<%= leadData.agent_name.value %>"><%= leadData.agent_name.value %></option>
                <% for (const value of dropdowns[2].values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
    
      <div class="form-group">
        <label for="source">Language</label>
        <input type="hidden" value="<%= dropdowns[3]._id %>" name="language_dd_id">
      
          <select name="<%= dropdowns[3].name %>">
              <option value="">Select...</option>
                <% for (const value of dropdowns[3].values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
    
      <div class="form-group">
        <label for="source">Disease</label>
        <input type="hidden" value="<%= dropdowns[4]._id %>" name="disease_dd_id">
          <select name="<%= dropdowns[4].name %>">
              <option value="">Select...</option>
                <% for (const value of dropdowns[4].values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
    
      <div class="form-group">
        <label for="age">Age</label>
          <input type="number" name="age"></input>
      </div>
    
      <div class="form-group">
        <label for="height">Height</label>
          <input type="number" name="height"></input>
      </div>
    
      <div class="form-group">
        <label for="weight">Weight</label>
          <input type="number" name="weight"></input>
      </div>
    
      <div class="form-group">
        <label for="state">State</label>
        <input type="hidden" value="<%= dropdowns[5]._id %>" name="state_dd_id">
          <select name="<%= dropdowns[5].name %>">
              <option value="">Select...</option>
                <% for (const value of dropdowns[5].values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
    
      <div class="form-group">
        <label for="city">City/District</label>
          <input type="text" name="city"></input>
      </div>
    
      <div class="form-group">
        <label for="remark">Remark</label>
        <input type="hidden" value="<%= dropdowns[6]._id %>" name="remark_dd_id">
          <select name="<%= dropdowns[6].name %>">
              <option value="">Select...</option>
                <% for (const value of dropdowns[6].values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
    
      <div class="form-group">
        <label for="comment">Comment</label>
          <input type="text" name="comment"></input>
      </div>
    
            <input type="hidden" value="<%= leadData._id %>" name="dataId">
            <button type="submit">Edit</button>
  </form>
</body>
</html>
