<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form with Inputs</title>
<link rel="stylesheet" href="/css/addWorkbookData.css">
</head>
<body>
  <form method="POST" action="/">
    <h1>Edit Pending Form</h1>
      <div class="form-group">
        <label for="payment_type">Payment Type</label>
    
          <select name="payment_type">
                <% for (const value of data.payment_type.dropdown_data.values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
      <div class="form-group">
        <label for="sale_type">Sale Type</label>
    
          <select name="sale_type">
                <% for (const value of data.sale_type.dropdown_data.values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>

      <div class="form-group">
        <label for="source">Agent Name:</label>
          <select name="agent_name">
                <% for (const value of data.agent_name.dropdown_data.values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
    
      <div class="form-group">
        <label for="cm_firstname">CM First Name</label>
          <input type="text" name="cmFirstName" value="<%= data.CM_First_Name %>"></input>
      </div>
    
      <div class="form-group">
        <label for="cm_lastname">CM Last Name</label>
          <input type="text" name="cmLastName" value="<%= data.CM_Last_Name %>"></input>
      </div>
    
      <div class="form-group">
        <label for="cm_phone">CM Phone</label>
          <input type="number" name="cmphone" value="<%= data.CM_Phone %>"></input>
      </div>
    
      <div class="form-group">
        <label for="cm_altername_number">CM Alternate Number</label>
          <input type="number" name="cmPhoneAlternateNumber" value="<%= data.Alternate_Number %>"></input>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
          <input type="email" name="email"></input>
      </div>
      <div class="form-group">
        <label for="source">Status:</label>
          <select name="status">
                <% for (const value of data.status.dropdown_data.values) { %>
                  <option value="<%= value %>" name="<%= value %>"><%= value %></option>
                <% } %>
          </select>
      </div>
  </form>
</body>
</html>
